{{yield}}

<h2 class="question">{{question.content}}</h2>
<h3>Asked by: <em>{{question.author}}</em></h3>
{{update-question update="update" question=question}}
{{delete-question delete="delete" question=question}}
<br><br>
<h4>Comments:</h4>

<h5>{{question.note}}</h5>

<ul>
{{#each model.answers as |answer|}}
  {{comment.reply}}
{{/each}}
</ul>
