{{yield}}
{{#if updateCategoryForm}}
  <h3><em>Edit {{category.content}}</em></h3>
    <div>
      <form>
        <div class="form-group">
          <label for="title">Category</label>
          {{input value=title id="title" placeholder=category.title}}
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          {{input value=description id="description" placeholder=category.description}}
        </div>

        <button {{action 'update' category}}>Save</button>
        <!-- <button {{action 'cancel'}}>Cancel</button> -->
      </form>
    </div>

    {{else}}
      <br>
      <button class="btn btn-xs btn-warning" {{action 'updateCategoryForm'}}>Edit Category</button>
    {{/if}}
